<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${reviewModel.name}">A Review of BTS rap line.</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>

<header>
    <h1 th:text="${reviewModel.name}">A Review</h1>
</header>

<main>
    <ol>
        <p><a href="/review">Review</a></p>
        <li th:text="${reviewModel.name}"></li>
    </ol>
    <img th:src ="${reviewModel.image}">
    <h2 th:text="${reviewModel.description}"></h2>
</main>

<footer>
    <small>Copyright WCCI 2021</small>
</footer>

</body>
</html>